html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

section { scroll-margin-top: 80px; }

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  background: #7f1d1d;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

nav a {
  color: #fca5a5;
  text-decoration: none;
  margin-left: 20px;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("images/Fotofull1.png") center/cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(66, 64, 64, 0.8),
    rgba(0,0,0,0.4),
    transparent
  );
  z-index: 2;
}

.hero-text {
  position: relative;
  z-index: 2;
}

/* SECTION */
.section {
  padding: 100px 10%;
}

.row {
  display: flex;
  gap: 30px;
  align-items: center;
}

.photo {
  width: 200px;
  border-radius: 12px;
}

/* EDUCATION SLIDER */
.edu-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.edu-slider {
  width: 260px;
  height: 360px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.edu-slides {
  display: flex;
  height: 100%;
}

.edu-slides img {
  width: 260px;
  height: 360px;
  object-fit: contain;   /* supaya portrait utuh */
  flex-shrink: 0;
  background: #000;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.card, .skill {
  background: #991b1b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

/* BUTTON */
.btn {
  background: #dc2626;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

/* POPUP */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #222;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
}

.close {
  float: right;
  cursor: pointer;
}

/* MOBILE */
@media(max-width:768px){
  .row, .edu-container { flex-direction: column; }
  .grid { grid-template-columns: 1fr; }

  .menu-toggle { display: block; }

  nav {
    display: none;
    flex-direction: column;
    background: #7f1d1d;
  }

  nav.show { display: flex; }

  nav a { margin: 10px; }
}
